body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background: linear-gradient(to bottom, #f2f6fc, #edf2f7);
  color: #333;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0a4fb3;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #24388f;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(to bottom, #f2f6fc, #edf2f7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #0a4fb3;
  margin-right: 40px;
}

.left_button a {
  margin-right: 20px;
  text-decoration: none;
  color: #24388f;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right span {
  color: #24388f;
  font-weight: 500;
}
/* main */
.main {
  max-width: 820px;
  margin: 0 auto;
  padding: 100px 20px;
  text-align: left; /* 전체 왼쪽 정렬 */
}

.main h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  color: #1e2a44;
  text-align: left;
}

h1 .highlight-red {
  color: #f46a6a;
}

.logo_wrapper {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 52px;
}
.main .logo-wrapper {
  display: block;
  text-align: right; /* A+Maker 우측 정렬 */
}
.main .logo-wrapper .logo-colored {
  font-size: 84px;
  font-weight: 800;
  background: linear-gradient(to top, #00b3ff, #00e676);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.maker {
  color: black;
  -webkit-text-fill-color: initial;
}

.start-button {
  display: block;
  margin: 40px auto 0; /* 위 여백 + 가운데 정렬 */
  padding: 12px 32px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: #0a4fb3;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.reviews {
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}

.review {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 50px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #eef2fb;
}
footer .logo-colored {
  font-size: 28px; /* footer에서 A+Maker의 기본 크기 */
  font-weight: 800;
  background: linear-gradient(to top, #00b3ff, #00e676);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_cotents {
  color: #24388f;
  line-height: 1;
  padding-bottom: 5px;
  font-size: 28px;
}
footer .highlight-red {
  color: #f46a6a;
  font-size: 1em;
}
