* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #d2dde7;
  color: #333;
}

.Image {
  width: 88px;
  height: 56px;
  object-fit: cover;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #24388f;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(to bottom, #f2f6fc, #edf2f7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}
.welcome-message {
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #24388f;
  font-size: 16px;
}

.left_button a {
  margin-right: 20px;
  text-decoration: none;
  color: #24388f;
  font-weight: 500;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-right span {
  color: #24388f;
  font-weight: 500;
}

.user-info {
  font-size: 14px;
}

main {
  display: flex;
  padding: 20px;
}

.left {
  flex: 3;
}

.right {
  flex: 1;
  margin-left: 20px;
}
.search-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.search-box input {
  flex: 0.8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 20px;
}

.search-box button {
  flex: 0.2;
  padding: 10px 20px;
  background: #24388f;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: auto;
  cursor: pointer;
  font: bo;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  background: white;
  border-radius: 6px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.post p {
  color: #555;
  font-size: 14px;
  margin-bottom: 8px;
}

.meta {
  font-size: 12px;
  color: gray;
}

.right h4 {
  margin-bottom: 10px;
}

.right ul {
  list-style: none;
}

.right ul li {
  background: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-size: 13px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.pagination button {
  padding: 12px 3rem;
  font-size: auto;
  background: #24388f;
  color: white;
  border: none;
  border-radius: 30px;
}
